aiofiles==0.7.0
APScheduler==3.7.0
beautifulsoup4==4.9.3
fastapi==0.65.2
lxml==4.6.3
pandas==1.2.5
psycopg2==2.9.1
python-dotenv==0.18.0
requests==2.25.1
SQLAlchemy==1.4.22
uvicorn==0.14.0
xlrd==2.0.1
yahooquery==2.2.15